<%= form_for @holiday do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :celebrate %>
    <%= f.text_field :celebrate %>
  </p>
  <p>
    <%= f.submit 'Update holiday' %>
  </p>
<% end %>